@model IEnumerable<ExamWeb.Models.AlumniImageModel>

@{
    ViewBag.Title = "Indexes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Indexes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AlumniID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AlumniID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploadDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ImageID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ImageID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ImageID })
        </td>
    </tr>
}

</table>
